* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
body {
    height: 100vh;
    background: linear-gradient(hsl(174deg 100% 29%) 0px, 15%, hsl(144deg 6% 85%) 15%, hsl(144deg 6% 85%) 100%);
}

.container {
    max-width: 1400px;
    height: 100vh;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
    display: flex;
}

.allineo {
    vertical-align: 15px;
}

/* MAIN */

.tools {
    display: inline-block;
    width: 20%;
    color: hsl(0deg 0% 69%);
}

.tools .fas {
    margin-right: 10px;
}

.fas:hover {
    cursor: pointer;
}

.far:hover {
    cursor: pointer;
} 

/* utenti */

.utenti {
    width: 30%;
    background-color: white;
    display: inline-block;
}

.main-user {
    background-color: hsl(0deg 0% 92%);
    padding: 10px;
}

.user {
    display: inline-block;
    width: 79%;
}

.image {
    width: 50px;
    border-radius: 50%;
}

.notifiche {
    padding: 10px;
    background-color: hsl(198deg 93% 77%);
}

a {
    color: hsl(198deg 30% 53%);
}

.search {
    background-color: hsl(0deg 0% 92%);
    padding: 5px;
}

.search input {
    display: block;
    width: 100%;
    margin: auto;
    padding: 7px;
    border: 1px solid hsl(0deg 0% 92%);
}

.chat {
    background-color: hsl(0deg 0% 100%);
    border-bottom: 1px solid lightgray;
    padding: 7px;
}

.chat:hover {
    background-color: hsl(150deg 5% 92%);
    cursor: pointer;
}

/* current-chat */
.current-chat {
    width: 70%;
    background-color: white;
    display: inline-block;
    border-left: 1px solid lightgray;
}

.top-chat {
    background-color: hsl(0deg 0% 92%);
}

.chat-attiva {
    height: calc( 100% - 77px);
    overflow: hidden;
    background-image: url("/img/mine.jpg");
}

.nome-utente {
    display: inline;
}

.msg-utente {
    background-color: hsl(94deg 84% 85%);
}

.msg-cpu {
    background-color: hsl(0deg 0% 100%);
}

.chat-text {
    background-color: hsl(27deg 27% 94%);
    padding: 10px;
    display: block;
}

.chat-text input {
    padding: 10px;
    width: 80%;
    display: inline-block;
}

.emoji {
    width: 9%;
    text-align: center;
    display: inline-block;
}

.mic {
    width: 9%;
    text-align: center;
    display: inline-block;
}