* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
body {
    height: 100vh;
    background: linear-gradient(hsl(174deg 100% 29%) 0px, 15%, hsl(144deg 6% 85%) 15%, hsl(144deg 6% 85%) 100%);
}

.container {
    max-width: 1400px;
    height: 100vh;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
    display: flex;
}

.allineo {
    vertical-align: 15px;
}

.align {
    vertical-align: 25px;
}

/* MAIN */

.tools {
    display: inline-block;
    width: 20%;
    color: hsl(0deg 0% 69%);
}

.tools .fas {
    margin-right: 10px;
}

.fas:hover {
    cursor: pointer;
}

.far:hover {
    cursor: pointer;
}

/* utenti */

.utenti {
    width: 30%;
    background-color: white;
    display: inline-block;
}

.main-user {
    background-color: hsl(0deg 0% 92%);
    padding: 10px;
}

.user {
    display: inline-block;
    width: 79%;
}

.image {
    width: 50px;
    border-radius: 50%;
}

.notifiche {
    padding: 10px;
    background-color: hsl(198deg 93% 77%);
    display: flex;
}

.bell {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 10px;
}

.notifiche .bell i {
    line-height: 40px;
    color: hsl(198deg 93% 77%);
}

a {
    color: hsl(198deg 30% 53%);
}

.search {
    background-color: hsl(0deg 0% 92%);
    padding: 5px;
}

.search input {
    display: block;
    width: 100%;
    margin: auto;
    padding: 7px;
    border: 1px solid hsl(0deg 0% 92%);
}

.chat {
    background-color: hsl(0deg 0% 100%);
    border-bottom: 1px solid lightgray;
    padding: 7px;
    display: flex;
}

.active {
    background-color: lightgray;
}

.chat:hover {
    background-color: hsl(150deg 5% 92%);
    cursor: pointer;
}

/* current-chat */
.current-chat {
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-left: 1px solid lightgray;
}

.top-chat {
    background-color: hsl(0deg 0% 92%);
    padding: 10px;
}

.big-nome {
    width: 79%;
    display: inline-block;
}

.chat-attiva {
    flex-grow: 1;
    overflow-y: auto;
    background-image: url("../img/mine.jpg");
    padding-top: 20px;
}

.nome-utente {
    display: inline;
}

.right {
    vertical-align: 15px;
    text-align: right;
}

.msg {
    max-width: 600px;
    min-width: 200px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    clear: both;
    position: relative;
}

.sent {
    background-color: hsl(94deg 84% 85%);
    float: right;
    margin-right: 10%;
}

.received {
    background-color: hsl(0deg 0% 100%);
    margin-left: 10%;
    float: left;
}

.msg-date {
    color: lightgray;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
}   

.chat-text {
    background-color: hsl(27deg 27% 94%);
    padding: 10px;
}

.chat-text input {
    padding: 12px;
    width: 80%;
    display: inline-block;
    border: 1px solid hsl(27deg 27% 94%);
}

.emoji {
    width: 9%;
    text-align: center;
    display: inline-block;
}

.mic {
    width: 9%;
    text-align: center;
    display: inline-block;
}

/* menu tendina */

.msg:hover .menu-tendina {
    display: block;
    cursor: pointer;
}

.menu-tendina {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
}

.menu {
    display: none;
    position: absolute;
}

.menu li {
    list-style-type: none;
}

.menu-tendina:active .menu {
    display: block;
}